{% extends "layout.html" %}

{% block title %}Similar Images - {% endblock %}

{% block css %}
{{ super() }}
<link href="/static/css/lightbox.css" rel="stylesheet" media="screen"/>

<style type="text/css">
    #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
    }
    body {
        height: 100%;
        padding-top: 60px;
    }    
    #lightbox img {
        max-width: 800px;
        width: auto;
        height: auto;
    }
    #container {
        margin-left: 0px
    }
    #container.fluid .item {
        width:  32.87%; 
        margin: 3px 0.2% 3px 0.2%;
    }
    #container.fluid .item img {
       display: block;
       width: 100%;
       height: auto !important;
       opacity:1;
    }
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script type='text/javascript' src="/static/js/holder.js"></script>
<script type='text/javascript' src="/static/js/lightbox-2.6.min.js"></script>
<script type='text/javascript' src="/static/js/jquery.lazyload.js"></script>
<script type='text/javascript' src="/static/js/jquery.masonry.min.js"></script>
<script type='text/javascript'>//<![CDATA[ 
    $(function(){
        var $container = $('#container');
        $container.imagesLoaded(
            function(){
                $container.masonry({
                    itemSelector: '.item',
                    columnWidth: function(containerWidth){
                        return containerWidth / 12;
                    }
                });
                $('.item img').addClass('not-loaded');
                $('.item img.not-loaded').lazyload({
                    effect: 'fadeIn',
                    threshold : 150,
                    load: function() {
                        // Disable trigger on this image
                        $(this).removeClass("not-loaded");
                        $container.masonry('reload');
                    }
                });
                $('.item img.not-loaded').trigger('scroll');
            }
        );
    });//]]>  
</script>
{% endblock %}

{% block content %}
    <div id="wrap">
        <div class="container">
            <div class="jumbotron">
                <h2>Image Search</h2>
            </div>

            {% if results %}
            <div id="container" class="thumbnails fluid">
                <div class="item">
                    <a href="/{{ original }}" class="thumbnail" data-lightbox="/{{ original }}">
                        <img src="/static/img/grey.gif" data-original="/{{ original }}" />
                    </a>
                </div>
            {% for result in results %}
                <div class="item">
                    <a href="/{{ result }}" class="thumbnail" data-lightbox="/{{ result }}">
                        <img src="/static/img/grey.gif" data-original="/{{ result }}" />
                    </a>
                    <p>{{ distances[result] }}</p>
                </div>
            {% endfor %}
            {% else %}
            <em>Oops! Sorry for finding nothing. Please search by another words.</em>
            {% endif %}            
            </div>
        </div>

        <div id="push"></div>
    </div>
{% endblock %}
